#container {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

button#newGame {
  margin-top: 10px;
  font-size: 14pt;
  padding: 14px;
}


.box {
  border: 2px dashed darkgrey;
  box-sizing: border-box;
  float: left;
  font-size: 90px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.box.X {
  background-size: cover;
  background-image: url(assets/X.png);
  background-color: red;
}
.box.O {
  background-size: cover;
  background-image: url(assets/O.png);
  background-color: blue;
}